body {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Tlo i Menusy*/

.header {
    background-image: url("background.jpg");
    background-size: cover;
    height: 750px;
    width: 100%;
}

.column1 {
    width: 50%;
    padding: 0;
    float: left;
}

.column2 {
    width: 50%;
    padding: 0;
    float: right;
}

.column1 ul {
    padding: 5px 25px;
}

.column2 ul {
    padding: 5px 25px;
    float: right;
}

.column1 li,
.column2 li {
    display: inline-block;
    float: left;
    padding-right: 15px;
    font-weight: 600;
    list-style: none;
}

.column1 a,
.column2 a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.search-container {
    float: right;
}

input[type=text] {
    font-size: 17px;
    border: 1px solid lightgrey;
}

.search-container button:hover {
    background: #ccc;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 50%;
    padding-top: 20px;
    float: left;
}

.openbtn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.menu2 {
    float: right;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.dropmenu {
    width: 150px;
    height: 60px;
    position: relative;
    display: inline-block;
    float: right;
    background-color: #e42c35;
    text-align: center;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e42c35;
    padding: 10px 16px;
    z-index: 1;
}

.dropmenu:hover .dropdown-content {
    display: block;
}

/*Gora*/

.closebtn {
    display: none;
}

.menu3 {
    clear: both;
    float: right;
    background-color: white;
}

.menu3 ul {
    float: right;
    list-style: none;
}

.menu3 li {
    display: inline-block;
    margin-right: 8px;
}

.menu3 a {
    text-decoration: none;
    color: lightslategrey;
}

.searchOffer {
    padding-top: 50px;
    clear: both;
    text-align: center;
}

.searchOffer h1 {
    font-size: 50px;
    color: white;
    font-weight: 100;
    margin-bottom: -1%;
}

.searchOffer h2 {
    font-size: 50px;
    color: white;
    font-weight: 600;
}

/*Wyszukiwanie ofert*/

.test {
    background-color: #e42c35;
    opacity: 0.9;
    height: 55px;
    width: 43%;
    display: inline-block;
    padding-top: 10px;
}

.custom-select {
    position: relative;
    opacity: 1;
    width: 30%;
    height: 40%;
    display: inline-block;
}

.custom-select select {
    display: none;
    opacity: 1;
}

.select-selected {
    background-color: white;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: black;
    padding: 8px 16px;
    border: 5px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #e42c35;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.5);
}

input[type=submit] {
    background-color: #e42c35;
    color: white;
    opacity: 1;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 35px;
    border: none;
    cursor: pointer;

}

/*Głowne Kategorie*/

.Categories {
    background-color: white;
    width: 100%;
    height: 350px;
    border-bottom: 2px solid lightgrey;
}

.Categories h1 {
    color: black;
    padding: 2px 40%;
    white-space: nowrap;
    font-weight: 400;
}

.left {
    width: 60%;
    height: 75%;
    float: left;
}

.On {
    height: 100%;
    width: 40%;
    margin-left: 5%;
}

.Ona {
    height: 100%;
    width: 40%;
    margin-left: 5%;
}

.right {
    width: 40%;
    height: 80%;
    float: left;
}

.quarter {
    float: left;
    padding: 0.5%;
    height: 45%;
    width: 49%;
    display: inline-block;
}

/*Bestseller*/

.bestseller {
    background-color: white;
    width: 100%;
    height: 350px;
    border-bottom: 2px solid lightgrey;
}

.bestseller h1 {
    color: black;
    padding: 8px 45%;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
}

.auto {
    width: 15%;
    height: 250px;
    padding: 0 0.6%;
}

/*BLOG*/

.blog {
    background-color: white;
    width: 100%;
    height: 350px;
    margin-top: -21px;
    margin-bottom: 10px;
}

.blog h1 {
    color: black;
    padding: 8px 45%;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
}

.blogpost {
    width: 23%;
    height: 250px;
    padding-bottom: 0.5%;
    margin: 0 0.75%;
}

/*FAQ*/

.info {
    background-color: #DFDFDF;
    width: 100%;
    height: 350px;
    margin-top: -21px;
    border-bottom: 2px solid lightgrey;
}

.info h1 {
    color: black;
    padding: 8px 45%;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
}

.box {
    width: 45%;
    height: 155px;
    margin: 1%;
    background-color: #ffffff;
    display: inline-block;
}

.box p {
    margin: 5%;
    font-weight: bold;
    color: #D33F3F;
}

.bigBox {
    width: 95%;
    height: 330px;
    margin: 1.5%;
    background-color: #ffffff;
    display: inline-block;
}

.bigBox p {
    margin: 5%;
    font-weight: bold;
    color: #D33F3F;
}

/*O nas*/

.about {
    background-color: white;
    width: 100%;
    height: 240px;
    margin-top: -21px;
    border-bottom: 2px solid lightgrey;
}

.about h1 {
    color: black;
    padding: 8px 40%;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
}

.about p {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin: -10px 15%;
    text-align: justify;
}

/*Bilet*/

.ticket {
    width: 100%;
    height: 390px;
    background-image: url(tic-tac-toe.png);
}

.ticketImg {
    width: 60%;
    height: 65%;
    padding: 4% 20%;
}

/*Newsteller*/

.newsteller {
    background-color: #e42c35;
    width: 100%;
    height: 140px;
    margin-top: -21px;
    border-bottom: 2px solid lightgrey;
}

.col1 {
    float: left;
    width: 50%;
}

.col1 h1 {
    font-size: 20px;
    color: white;
    margin-left: 23%;
}

.news {
    float: left;
    width: 20%;
    height: 100px;
}

.container {
    padding: 0 21%;
    width: 100%;
}

.container input[type=text],
input[type=submit] {
    width: 200px;
    padding: 5px;
    margin-left: 2%;
    border: 1px solid #ccc;
}

.container input[type=submit] {
    background-color: #e42c35;
    color: white;
    width: 100px;
    font-size: 12px;
    padding: 8px 0;
    margin-top: -2px;
    border: 1px solid white;
    display: inline-block;
}

.col1 p {
    margin-left: 7%;
    color: white;
    font-size: 12px;
}

.col1 a {
    color: white;
    margin-left: 150px;
}

.col2 {
    float: left;
    width: 50%;
}

.col2 h1 {
    font-size: 16px;
    color: white;
    background: 0;
    margin-left: 15%
}

.col2 span {
    background: url('tick.png') no-repeat 0 center;
    margin-left: 15%;
    display: block;
    color: white;
    font-weight: 500;
    padding: 5px 30px;
}

/*Stopka*/

.footer {
    width: 100%;
    height: 600px;
    background-image: url(ep_naturalblack.png);
    background-repeat: repeat-x repeat-y;
}

.row {
    width: 100%;
}

.link {
    margin-top: -2px;
    margin-left: 11%;
    padding: 25px;
    width: 75%;
    text-align: center;
    border-bottom: 1px solid grey;
}

.link li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid grey;
    font-size: 14px;
}

.link li:last-child {
    border: none;
}

.link a {
    text-decoration: none;
    color: white;
}

.link a:hover {
    color: #E42c45;
}

.linkList {
    float: left;
    color: white;
    width: 18%;
    margin: -1px 0px;
}

.linkList:first-child {
    margin-left: 10%;
}

.linkList h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #E42C35;
}

.linkList li {
    list-style: none;
    padding-bottom: 10px;
}

.linkList a {
    text-decoration: none;
    color: white;
}

.linkList a:hover {
    color: #e42c35;
}

.bottom {
    margin-left: 11%;
    padding: 10px;
    width: 75%;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.bottom li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    height: 50px;
    border-right: 1px solid grey;
    font-size: 14px;
    vertical-align: middle;
}

.bottom li:first-child {
    padding-top: 20px;
    height: 35px;
    color: #E42C35;
}

.bottom li:last-child {
    border: none;
}

.address {
    margin-top: 1px;
}

.bottom a {
    text-decoration: none;
    color: white;
    text-align: justify;
    padding-bottom: 20px;
}

.fa {
    color: #e42c35;
    padding-right: 10px;
    float: left;
}

.fa-map-marker {
    margin-top: 15px;
}


/* Big tablet to 1200px (widths smaller than 1140px row) */

@media only screen and (max-width: 1200px) {}

/* Small tablet to Big tablet from 768px to 1023px */

@media only screen and (max-width: 1023px) {

    .logo {
        width: 75%;
    }


    .col1 p {
        margin-top: 5px;
    }

    .custom-select {
        position: relative;
        opacity: 1;
        height: 100%;
        width: 50%;
        display: inline-block;
    }

    .about {
        height: 260px;
    }

    .about p {
        font-size: 12px;
    }

    .test {
        background-color: #D33F3F;
        opacity: 0.9;
        height: 100%;
        width: 40%;
        display: inline-block;
    }
    .col2 span {
        background: url('tick.png') no-repeat 0 center;
        margin-left: 15%;
        display: block;
        color: white;
        font-weight: 500;
        padding: 2px 30px;
    }
    .linkList {
        width: 14%;
    }

    .linkList:first-child {
        margin-left: 3%;
    }

    .linkList li {
        list-style: none;
        padding-bottom: 10px;
    }
}

/* Small phones to small tablets from 481 to 767px */

@media only screen and (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .searchbar input[type=text] {
        font-size: 17px;
        border: 1px solid lightgrey;
        width: 100px;
    }

    .logo {
        width: 100%;
    }

    .openbtn {
        display: inline-block;
        font-size: 40px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }

    .menu3 li {
        margin-right: 3px;
    }

    .dropmenu {
        width: 100px;
        height: 50px;
        position: relative;
        display: inline-block;
        float: right;
        background-color: #e42c35;
        text-align: center;
    }

    .box {
        margin: 2.2%;
    }

    .linkList {
        width: 14%;
    }

    .linkList:first-child {
        margin-left: 3%;
    }
    .col2 span {
        background: url('tick.png') no-repeat 0 center;
        margin-left: 25%;
        display: block;
        color: white;
        font-weight: 500;
        padding: 1px 30px;
    }
    .newsteller p {
        white-space: nowrap;
    }

    .container input[type=text] {
        width: 130px;
        height: 15px;
        margin-left: 2%;
        border: 1px solid #ccc;
    }
    .container input[type=submit] {
        padding: 5px 0;
        margin-top: 5px;
    }

    .linkList h2 {
        font-size: 10px;
        text-transform: uppercase;
        color: #E42C35;
    }
    .address {
        margin-top: 0px;
    }

    .col1 h1 {
        margin-top: 1%;
    }

    .bottom a {
        text-decoration: none;
        color: white;
        text-align: justify;
        padding-bottom: 10px;
    }

}

/* Small phones from 0 to 480px*/

@media only screen and (max-width: 480px) {

    .logo {
        width: 100%;
        padding-top: 0px;

    }
    .dropmenu {
        width: 20%;
        position:
    }
    h1 {
        font-size: 14px;
    }
    h2 {
        font-size: 13px;
    }

}
